---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Desarrollador Web - BotBlaze",
    description:
      "Me encargo de desarrollar aplicaciones web utilizando tecnologías como Laravel, Vue, Tailwind CSS, entre otras.",
    link: "",
  },
  {
    date: "Noviembre 2023",
    title: "Soporte Técnico",
    description:
      "Brindar soporte técnico a los empleados de una institución educativa.",
    link: "",
  },
];
---

<ul class="relative border-s border-zinc-400 dark:border-zinc-700 ms-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ul>
