<footer class="mx-auto my-10 px-4 xl:px-0 w-full xl:w-[740px]">
  <div
    class="flex justify-between items-center mx-auto py-4 w-full max-w-screen-xl"
  >
    <span class="text-sm text-zinc-800 sm:text-center dark:text-zinc-200"
      >© 2024 <a
        href="https://github.com/WillianArevalo"
        class="hover:underline"
      >
        Willian Arevalo
      </a>
    </span>
    <ul
      class="flex flex-wrap items-center mt-3 sm:mt-0 font-medium text-sm text-zinc-800 dark:text-zinc-400"
    >
      <li>
        <a href="#sobre-mi" class="hover:underline me-4 md:me-6">Sobre mí</a>
      </li>
      <li>
        <a href="mailto:awillianerensto@gmail.com" class="hover:underline"
          >Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
