---
export interface Props {
  name: string;
  icon: any;
  class?: string;
}

const { name, icon: Icon, class: className } = Astro.props as Props;
---

<li
  class={`flex items-center gap-x-2 px-2 py-1 rounded-full text-xs ${className}`}
>
  <Icon class="size-3" />
  <span>{name}</span>
</li>
